* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
}
body {
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.box {
  transform-style: preserve-3d;
  position: relative;
  height: 200px;
  animation: rotate 16s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotateX(-20deg) rotateY(360deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(0deg);
  }
}
.box div {
  position: absolute;
  inset: 0;
  transform-style: preserve-3d;
}
.box div.block span {
  position: absolute;
  left: calc(50% - 100px);
  width: 200px;
  height: 100px;
  background-color: #444;
  transform: rotateY(calc(90deg * var(--i))) translateZ(100px);
  transition: 0.5s;
}
.box:hover div.block span {
  background-color: #2b2ba0;
  filter: drop-shadow(0 0 50px #2b2ba0);
  cursor: pointer;
}
